<h1>Add New Patient</h1>

<form id='add_patient_form'class="well" action="/patient_success" method="post">
  <label for="patient_name_input">Patient's Name</label>
  <input class="form-control" type="text" name="patient_name_input" id='patient_name_input'>
  <label for="patient_birthdate_input">Patient's Birthdate</label>
  <input class="form-control" type="text" name="patient_birthdate_input" id='patient_birthdate_input'>
  <button type="submit" name="add_patient_submit">Add the Patient!</button>
</form>
