<h1>Add New Doctor</h1>

<form id='add_doctor_form'class="well" action="/doctor_success" method="post">
  <label for="doctor_name_input">Doctor's Name</label>
  <input class="form-control" type="text" name="doctor_name_input" id='doctor_name_input'>
  <label for="doctor_specialty_input">Doctor's Specialty</label>
  <input class="form-control" type="text" name="doctor_specialty_input" id='doctor_specialty_input'>
  <button type="submit" name="add_doctor_submit">Add the Doc!</button>
</form>
